button{
    border: none;
    border-radius: 50px;
    font-size: 120%;
    cursor: pointer;
    background-color: gray;
    margin: 5px;
    padding: 34px;

}

.Scientific{
    display: flex;
    flex-direction: row;
}
.hid{
    visibility: hidden;
}
.upward{
    animation-name: upwardd;
    animation-duration: 1s;
}
.anim{
    animation-name: scientific;
    animation-duration:0.5s;
}
@keyframes upwardd{
    to{transform:translateY(-500%) ;
        position: relative;}
}
@keyframes scientific {
    
        from{transform: translateY(-500%);}
    
}
.Calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.sign{
    background-color: orangered;
}
.sign:hover{
    background-color: rgb(255, 97, 40);
}
.sign:active{
    background-color: rgb(251, 126, 81);
}
.red{
    background-color: red;
}
#display{
    border: 5px solid black;
    width: 100%;
    height: 100px;
    font-size: 64px;
}
body{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
}
.Container{
    width: 100%;
}
button:hover{
    background-color:rgb(180, 180, 180);
}
button:active{
    background-color: rgb(223, 223, 223);
}
@media (max-width: 480px) {
    .Calculator {
      grid-template-columns: 3, 1fr; 
        }
    button {
      font-size: 14px; 
      padding: 10px; 
    }
    #display {
      font-size: 54px; 
    }
  }